<nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <a class="navbar-brand" href="#"><span style="color: red;">ALL</span>Tech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active"href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Download Now </button>
      </form>
    </div>
  </nav>
  <header class="d-flex masthead" style="background-image:url('assets/img/IMG_0297.jpg'); height:;">
    <div class="container my-auto text-left">
        <h4 style="color: red;">Get Ready to Start Work.</h4>
        <h1 class="mb-1" style="color:white">I'm <span style="color:red">Developer</span></h1>
        <h1 class="mb-5" style="color:white;">Tarun K Parashar</h1>
        <p style="color: wheat; font-size: large;">
            <strong>I'm currently working as a Fullstack Developer and so far i have developed multiple application e2e. <br>
            I have more than 2 Years of enperience in JAVA Full stack along with Angular 7, ReactJS.</strong>
        </p>
        <br>
        <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#services">Learn More</a>
        <div class="overlay"></div>
    </div>
</header>
<section id="services" class="content-section bg-primary text-white text-center">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">Why hire me for you requirements?</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto bg-light service-icon rounded-circle mb-3"><i class="icon-screen-smartphone"></i></span>
                <h4><strong>Frontend Development</strong></h4>
                <p class="mb-0 text-faded">I'm well versed in Frontend frameworks like Angular, ReactJS, Bootstrap</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto bg-light service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                <h4><strong>Backend Development</strong></h4>
                <p class="mb-0 text-faded">Have grate understanding of Backend frameworks like Spring-Boot, Struts, JPA, JDBC</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto bg-light service-icon rounded-circle mb-3"><i class="icon-like"></i></span>
                <h4><strong>Enhancement & DevOps</strong></h4>
                <!-- <p class="mb-0 text-faded"><span>Milions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p> -->
                <p class="mb-0 text-faded">Wanna enhance your current projects or automate it? I got it covered !</p>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto bg-light service-icon rounded-circle mb-3"><i class="icon-mustache"></i></span>
                <h4><strong>Question</strong></h4>
                <p class="mb-0 text-faded">I mustache you a question... </p>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="content-section bg-dark">
    <div class="container">
        <div class="content-section-heading text-white text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent <span style="color: red">Projects</span></h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Dashboard</h2>
                            <p class="mb-0">Have developed an analytics dashboard. Dashboard is build using D3.js</p>
                        </div>
                    </div><img class="img-fluid" src="assets/img/dash.png"></a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Todo App</h2>
                            <p class="mb-0">Have created a basic TODO app, where user can perform different action like delete, modify. Application is built using Angular for frontend and Spring Boot and JPA as backend.</p>
                        </div>
                    </div><img class="img-fluid" src="assets/img/todo.png"></a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Strawberries</h2>
                            <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
                        </div>
                    </div><img class="img-fluid" src="assets/img/portfolio-3.jpg"></a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <div class="caption">
                        <div class="caption-content">
                            <h2>Workspace</h2>
                            <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
                        </div>
                    </div><img class="img-fluid" src="assets/img/portfolio-4.jpg"></a>
            </div>
        </div>
    </div>
</section>
<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://www.facebook.com/smartken.tarun/" target="_blank"><i class="icon-social-facebook"></i></a></li>
            <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="#"><i class="icon-social-twitter" target="_blank"></i></a></li>
            <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://github.com/HellRaiderz123" target="_blank"><i class="icon-social-github"></i></a></li>
            <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://www.linkedin.com/in/tarun-kumar-p-1a33668b/" target="_blank"><i class="icon-social-linkedin"></i></a></li>
        </ul>
        <p class="text-muted mb-0 small">Copyright &nbsp;© HellRaider 2020</p>
    </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a></footer>